USE [master]
GO
/****** Object:  Database [ProvaAgenti]    Script Date: 11/12/2021 2:06:58 PM ******/
CREATE DATABASE [ProvaAgenti]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProvaAgenti', FILENAME = N'C:\Users\paola\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\ProvaAgenti.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProvaAgenti_log', FILENAME = N'C:\Users\paola\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\mssqllocaldb\ProvaAgenti.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProvaAgenti].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProvaAgenti]
GO
USE [ProvaAgenti]
GO
/****** Object:  Table [dbo].[Agent]    Script Date: 11/12/2021 2:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agent](
	[Nome] [nvarchar](10) NOT NULL,
	[Cognome] [nvarchar](10) NOT NULL,
	[CodiceFiscale] [nvarchar](10) NOT NULL,
	[AreaGeografica] [nvarchar](5) NOT NULL,
	[AnnoInizioAttivita] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodiceFiscale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Agent] ([Nome], [Cognome], [CodiceFiscale], [AreaGeografica], [AnnoInizioAttivita]) VALUES (N'Francesca', N'Collu', N'FRCCLL88', N'A02', 2010)
INSERT [dbo].[Agent] ([Nome], [Cognome], [CodiceFiscale], [AreaGeografica], [AnnoInizioAttivita]) VALUES (N'Paola', N'Mocci', N'MCCMPL88', N'A01', 2007)
INSERT [dbo].[Agent] ([Nome], [Cognome], [CodiceFiscale], [AreaGeografica], [AnnoInizioAttivita]) VALUES (N'Federico', N'Massa', N'MSSFDR92', N'A03', 2017)
GO
USE [master]
GO
